@import 'tailwindcss';

@plugin './hero.js';

@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

html {
  background: none !important;
  background-color: transparent !important;
}

body {
  font-family:
    Inter,
    'SF Pro Display',
    'Microsoft YaHei',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

* {
  user-select: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(128 128 128 / 30%);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128 128 128 / 50%);
}
